<ion-header>
  <ion-toolbar>
    <ion-title>Video Tutorials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="loading" class="loading-state">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading videos...</p>
  </div>

  <div *ngIf="error" class="error-state">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="!loading && !error">
    <div *ngFor="let video of videos" class="video-card">
      <app-hls-video
        [src]="video.videoUrl"
        [poster]="video.thumbnailUrl || ''">
      </app-hls-video>
      <div class="video-meta">
        <h2>{{ video.title }}</h2>
        <p>{{ video.description }}</p>
      </div>
    </div>
  </div>

</ion-content>
